.chat-row {
  margin: 0.2rem;
}
.chat-card {
  width: 100%;
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 2 0;
      h3 {
        font-size: 0.8rem;
      }
    }
    .anticon {
    }
  }
  .user {
    margin-top: 0.4rem;
    border-radius: 1000rem;
    padding: 0.7rem;
    transition: 0.4s all ease-in-out;
    &:hover {
      background: #e9ecef;
    }
    .action {
      cursor: pointer;
    }
  }
}
.infinite-container {
  margin-top: 0.5rem;
  padding: 0.5rem 3rem;
  height: 100%;
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
.content-chat {
  height: 65vh;
}

.chat-box {
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    padding: 0.4rem 0.8rem;
  }
  .chat-bubble.incoming {
    flex-direction: row-reverse;
    &:last-child {
      animation: slideFromRight 0.5s;
    }
  }
  .chat-bubble.outgoing:last-child {
    animation: slideFromLeft 0.5s;
  }
  .chat-bubble {
    width: 100%;
    margin-top: 0.4rem;
    display: flex;
    .incoming {
      color: #fff;
      background: #ffa277;
      border-radius: 1.1rem 1.1rem 0 1.1rem;
    }
    .outgoing {
      background: #f2f2f2;
      border-radius: 1.1rem 1.1rem 1.1rem 0;
    }
  }
}
.typing-area {
  white-space: nowrap;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1024px) {
  .ant-row {
    min-width: 0vw;
  }
}
@keyframes slideFromLeft {
  0% {
    margin-left: -20rem;
    opacity: 0;
  }
  100% {
    margin-left: 0rem;
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    margin-right: -20rem;
    opacity: 0;
  }
  100% {
    margin-right: 0rem;
    opacity: 1;
  }
}
