.userPage {
  padding: 10px;

  .userImage {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
  }

  .suggested {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
  }

  .ant-divider-horizontal {
    border-top-color: black;
  }
}
