{
  "env": {
    "dev": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "import",
          {
            "libraryName": "antd",
            "style": true
          }
        ]
      ]
    },
    "test": {
      "presets": ["next/babel"]
    }
  }
}
