.banner5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.inner_banner5 {
  width: 100%;
  min-height: 70vh;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
}
.banner5_chats {
  grid-column: auto/span 4;
}
.banner5_content {
  padding-left: 1rem;
  padding-top: 1rem;
  grid-column: auto/span 8;
}
.banner5_chats_flip {
  grid-column: auto/span 6;
}
.banner5_content_flip {
  padding-left: 1rem;
  padding-top: 1rem;
  grid-column: auto/span 6;
}
.banner5_chats_mobile {
  grid-column: auto/span 6;
}
.banner5_content_mobile {
  padding-left: 1rem;
  padding-top: 1rem;
  grid-column: auto/span 12;
}
.banner5_content h1 {
  font-size: 2rem;
  font-weight: 400;
}
@media only screen and (max-width: 780px) {
  .banner5_chats {
    grid-column: auto/span 6;
  }
  .banner5_content {
    grid-column: auto/span;
  }
  .inner_banner5 {
    height: 100%;
  }
  .banner5_chats_flip {
    display: none;
  }
  .banner5_content_flip {
    display: none;
  }
}

@media only screen and (min-width: 780px) {
  .banner5_chats_mobile {
    display: none;
  }
  .banner5_content_mobile {
    display: none;
  }
}
