.banner1 {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
}
.inner_banner1 {
  width: 100%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
}
.inner_banner1_content {
  padding-top: 4rem;
  padding-bottom: 4rem;
  grid-column: auto/span 6;
}
.inner_banner1_image {
  grid-column: auto/span 6;
  position: relative;
  height: 100%;
}
.headerText {
  font-size: 3rem;
}
@media only screen and (max-width: 780px) {
  .inner_banner1_content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    grid-column: auto/span 12;
  }
  .inner_banner1_image {
    grid-column: auto/span 12;
    position: relative;
    height: 100%;
  }
  .headerText {
    font-size: 2rem;
  }
}
