.profile-bar {
  font-size: 1.3rem;
  display: flex;
  z-index: 99999999;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 5%;
  border-color: #ffa277;
  border: 1px solid #ffa277;
  width: 28rem;
  height: 100%;
  background-color: #ffeee6;
  transform: translateX(100%);
  transition: all 0.5s ease;
  opacity: 0;
  box-shadow: 17px 6px 49px #cccccc;

  a:link,
  a:hover,
  a:active {
    color: black;
  }

  .anticon-close {
    font-size: 2rem;
    margin-bottom: 0.3rem;
    transform: translate(-450%, -70%);
  }
  h1,
  .anticon,
  a {
    color: black;
    transition: color 0.3s ease-in-out;
  }
  .profile-pic {
    margin-bottom: 2rem;
  }
  .item {
    display: flex;
    flex-direction: space-between;
    align-items: center;
    justify-content: center;
    &:hover {
      & > *,
      a {
        color: #ffa277;
      }
    }
    .anticon {
      height: 40%;
      font-size: 1.2rem;
      margin-right: 0.4rem;
      margin-bottom: 0.3rem;
      text-align: center;
    }
  }
  .logout:hover {
    & > * {
      color: red;
      cursor: pointer;
    }
  }

  .edit:hover {
    & > * {
      cursor: pointer;
    }
  }
}
.anticon-close:hover {
  color: red;
}
.active {
  transform: translateX(8%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .profile-bar.active {
    width: 100%;
    border-radius: 0;
    transform: translateX(0);
  }
}
