.search-card {
  color: green;
  .search-popup {
    padding: 2rem;
  }
  .ant-card .ant-card-bordered {
    border-color: '#ffa277';
    border-radius: '0.5rem';
    background: '#ffeee6';
  }
}
.svg {
  all: initial;
  height: 200px;
}

.title {
  font-size: 2em;
  &:hover {
    color: #ffa277;
  }
}

.title:hover {
  cursor: pointer;
}
