.adminDashboard {
  .ant-card {
    background: #ffffff;
    width: 100%;
  }

  .ant-card-bordered {
    border: 0px solid #f0f0f0;
  }

  .ant-card-head {
    border-bottom: 1px solid #000000;
  }

  .ant-card-head-title {
    padding: 10px 0;
  }

  .ant-statistic {
    padding: 6px;
    background-color: #f5f5f5;
    border-radius: 7px;
  }

  .ant-tabs-tab-active {
    background-color: #f0f0f0;
  }

  .ant-col.ant-col-16 {
    margin: 5px;
  }
  .ant-col-16 {
    display: inline-block;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }

  .ant-row {
    display: grid;
    flex-flow: row wrap;
  }
}
