.adminDashboard {
  .ant-card {
    background: #f0f0f0;
    width: 100%;
  }

  .ant-card-bordered {
    border: 2px solid #000000;
    border-radius: 8px;
    margin: 100px;
  }

  .ant-card-head {
    border-bottom: 1px solid #000000;
  }

  .ant-card-head-title {
    padding: 1px 0;
  }
}
