.course-card {
  .ant-card {
    min-width: 25rem;
    max-width: 25rem;
    min-height: 18rem;
  }

  .title:hover {
    width: min-content;
    cursor: pointer;
  }

  .card-title-col {
    min-width: 85%;
  }

  .card-image {
    min-width: 41.6%;
  }

  .delete-icon {
    font-size: 2rem;
    color: black;
  }

  .delete-icon:hover {
    font-size: 2rem;
    color: black;
    cursor: pointer;
  }

  .emphasised-item {
    border-radius: 1rem;
    background-color: #f5f5f5;
  }

  .card-modal-image {
    min-width: 30%;
  }

  @media screen and (max-width: 1024px) {
    .ant-card {
      min-width: 20rem;
      max-width: 20rem;
      min-height: 35rem;
      max-height: 35rem;
    }

    .card-image {
      min-width: 100%;
    }

    .card-modal-image {
      min-width: 40%;
    }
  }
}
