.container-card{
    padding: 0 1rem;

    .ant-card-body {
        padding: 0;
    }
}

.ant-card {
    padding: 2rem;
    border: 0;
}

.ant-card-grid {
    width: 100%;
}

.ant-btn-primary {
    background-color: #171717;
    border-color: #000000;

    &:hover {
        background-color: #171717;
        border-color: #000000;
        opacity: 0.4;
    }

    &:focus {
        background-color: #171717;
        border-color: #000000;
    }
}

.ant-steps-item {
    width: 20px;
}

.ant-steps-item-content {
    width: 20px;
}