.instaFit {
	font-size: 50px;
	font-family: Poppins;
	font-weight: 800;
	font-style: italic;
}

.bigText {
	font-size: 50px;
	font-family: Poppins;
}

.whiteBtn {
	background: #fff;
	color: #000;
	border: none;
	padding: 10px 20px;
	margin: 5px;
	border-radius: 30px;
	cursor: pointer;
	font-family: Source Sans Pro;
}

.blackBtn {
	background: #000;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin: 5px;
	border-radius: 30px;
	cursor: pointer;
	font-family: Source Sans Pro;
}