@import './variables.scss';
@import './404.scss';
@import './navBar.scss';
@import './profileBar.scss';
@import './signup.scss';
@import './login.scss';
@import './profile.scss';
@import './adminDashboard.scss';
@import './_searchQuestions.scss';
@import './settings.scss';
@import './courseCard.scss';
@import './searchCourse.scss';
@import './questionnaire.scss';
@import './preferences.scss';
@import './_searchQuestions.scss';
@import './_accessDenied.scss';
@import './chats.scss';
@import './searchQuestions.scss';
@import './suggestedInstructors.scss';

body,
::before,
::after {
  padding: 0;
  margin: 0;
  min-width: 0;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
  white-space: normal;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  min-width: 100%;
  font-family: sans-serif, system-ui;
  text-rendering: optimizeSpeed;
}

.ant-menu-item {
  line-height: 64px;
}
.ant-menu-item:selected {
  all: inherit;
}

.ant-select-item-option-selected {
  .ant-select-item-option-content {
    color: white;
  }
}
.container-form {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
}

.ant-alert.ant-alert-info {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
}
.anticon-loading {
  color: black;
  font-size: 30;
}
/*
  Change scrollbar across the whole website
*/
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.75) transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  border: transparent;
}
// @media (prefers-reduced-motion: reduce) {
//   *,
//   *::before,
//   *::after {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }
