@import './variables.scss';
@import './404.scss';
@import './navBar.scss';
@import './profileBar.scss';
@import './profileTopBar.scss';
@import './signup.scss';
@import './login.scss';
@import './courseCard.scss';
body,
::before,
::after {
  padding: 0;
  margin: 0;
  min-width: 0;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
  white-space: normal;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  min-width: 100%;
  font-family: sans-serif, system-ui;
  text-rendering: optimizeSpeed;
}
.ant-menu-item {
  line-height: 64px;
}
.ant-menu-item:selected {
  all: inherit;
}

.ant-select-item-option-selected {
  .ant-select-item-option-content {
    color: white;
  }
}
.container-form {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
}
.ant-form-item-label {
  margin-right: 1.2rem;
}

.ant-alert.ant-alert-info {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
}
// @media (prefers-reduced-motion: reduce) {
//   *,
//   *::before,
//   *::after {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }
