@import './variables.scss';
@import './partials/404.scss';
@import './partials/navBar.scss';
@import './partials/profileBar.scss';
@import './pages/signup.scss';
@import './pages/login.scss';
@import './pages/user.scss';
@import './partials/adminDashboard.scss';
@import './partials/_searchQuestions.scss';
@import './pages/settings.scss';
@import './partials/courseCard.scss';
@import './partials/profileCard.scss';
@import './partials/questionnaire.scss';
@import './partials/_searchQuestions.scss';
@import './partials/_accessDenied.scss';
@import './pages/chats.scss';
@import './partials/searchQuestions.scss';
@import './partials/suggestedInstructors.scss';
@import './partials/wishList.scss';
@import './partials/editProfile.scss';
@import './partials/banner-1.scss';
@import './partials/banner-2.scss';
@import './partials/banner-3.scss';
@import './partials/banner-4.scss';
@import './partials/banner-5.scss';
@import './partials/footer.scss';
@import './partials/videoPlayer.scss';
@import './partials/searchCard.scss';
@import './partials/_reviewInput.scss';
@import './pages/create.scss';

body,
::before,
::after {
  padding: 0;
  margin: 0;
  min-width: 0;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
  white-space: normal;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  min-width: 100%;
  font-family: sans-serif, system-ui;
  text-rendering: optimizeSpeed;
}

.ant-menu-item {
  line-height: 64px;
}
.ant-menu-item:selected {
  all: inherit;
}

.ant-select-item-option-selected {
  .ant-select-item-option-content {
    color: white;
  }
}
.container-form {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
}

.ant-alert.ant-alert-info {
  background-color: #ffeee6;
  border: 1px solid #ffa277;
}
.anticon-loading {
  color: #ffa277;
  font-size: 30;
}
/*
  Change scrollbar across the whole website
*/
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.75) transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  border: transparent;
}
a,
a:link,
a:hover,
a:active {
  color: #ffa277;
}

.ant-avatar.ant-avatar-icon {
  background-color: white;
}

.anticon svg {
  color: #ffa277;
}
