.profile-tabs {
  border: solid;
  border-width: 0.1rem;
  border-radius: 1rem;
  padding-bottom: 0.8rem;
}

.tab {
  width: 25rem;
}

.button > * {
  font-size: 2rem;
}

.clicked-button > * {
  font-size: 2rem;
  color: white;
  background-color: black;
  border-radius: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.profile-info {
  width: 20.8%;
}

@media screen and (max-width: 1024px) {
  .profile-tabs {
    border: solid;
    border-width: 0.1rem;
    border-radius: 1rem;
    padding-bottom: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .tab {
    width: 5rem;
  }

  .button > * {
    font-size: 1rem;
  }

  .clicked-button > * {
    font-size: 1rem;
    color: white;
    background-color: black;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .profile-info {
    width: 41.6%;
  }
}
