.settings {
  .ant-card-bordered {
    border: 0px solid #f0f0f0;
  }

  .ant-row {
    display: grid;
    flex-flow: row wrap;
  }

  .settingCard {
    border: 1px solid #f0f0f0;
    display: table;
  }
}
